.content-middle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.steps{
    display: flex;
}

.spacing{
    margin-right: 15px;
}

.step-layout{
    display: flex;
    align-items: center;
}

.step-layout-button{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #404040;
    opacity: 50%;
}

.step-layout-button-diff{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #404040;
}

#arrow{
    opacity: 50%;
}


#first-step{
    color: #404040;
}

#number1{
    color: white;
    background-color: #C93B25;
    border-radius: 100%;
    padding: 0.5px 10px;
}

#number2{
    color: white;
    background-color: #C93B25;
    border-radius: 100%;
    padding: 0.5px 8px;
}

#number3{
    color: white;
    background-color: #C93B25;
    border-radius: 100%;
    padding: 0.5px 8px;
}

#number4{
    color: white;
    background-color: #C93B25;
    border-radius: 100%;
    padding: 0.5px 8px;
}

#number5{
    border: 1px solid #404040;
    border-radius: 100%;
    padding: 0.5px 8px;
}

#number6{
    border: 1px solid #404040;
    border-radius: 100%;
    padding: 0.5px 8px;
}

.action-button{
    display: flex;
    justify-content: flex-end;
}

.savecontinue{
    background-color: #C93B25;
    color: white;
    border: none;
    padding: 8px 25px;
    border-radius: 12px;
    cursor: pointer;
    margin-right: 50px;
}

.savecontinue a{
    text-decoration: none;
    color: white;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-y: scroll;
    height: 600px;
}

.content::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
  
  .content::-webkit-scrollbar-thumb {
    background-color: #C93B25;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
  }

  .content::-webkit-scrollbar-track {
    background-color: #FBF8F7; /* Background color of the scrollbar track */
  }

.content-wrap{
    margin-right: 200px;
}


.content h1{
    /* padding-top: 50px; */
    font-size: 24px;
    color: #404040;
}

.content-title{
    color: #404040;
    font-size: 30px;
}

.dropdown{
    position: absolute;
    display: inline-block;
}

.dropdown-button{
    height: 40px;
    border-radius: 10px;
    border: 1px solid #857979;
    background-color: white;
    padding: 0px 200px;
    font-size: 15px;
    transition: 0.3s;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    padding: 0px 200px 0px 0px;
    width: 100%;
}

.dropdown-content a {
    font-size: 15px;
    color: #404040;
    padding: 12px 16px;
    /* margin-top: 20px; */
    text-decoration: none;
    display: block;
    font-weight: bold;
}

.dropdown-content a:hover {
    /* background-color: #f9f9f9; */
    color: #C93B25;
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropdown-button {
    background-color: #C93B25;
    color: white;
    border: none;
}

.warna-pas{
    color: #C93B25;
    padding-left: 7px;
}

.from-pas{
    display: flex;
    margin-top: 0px;
}

.spaceInput{
    padding-bottom: 16px;
}

.spaceInput2{
    /* padding-bottom: 16px; */
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sectionPass{
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
    font-size: 18px;
}

.label{
    display:block;
}

.horizontal{
    display: flex;
}

.lengthBox{
    width: 450px;
    height: 34px;
    border-radius: 5px;
    border-color:#857979;
    border: 1px solid #857979;
    padding-left: 10px;
}

.lengthBox2{
    width: 450px;
    border-radius: 5px;
    border-color:#857979;
    border: 1px solid #857979;
    padding-left: 10px;
    padding-top: 10px;
}

.horizontal-col{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    width: 100%;
}

.lengthBox3{
    width: 120px;
    border-radius: 5px;
    border-color:#857979;
    border: 1px solid #857979;
    padding: 10px;
}

.end-to-end{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
    align-items: center;
	align-content: stretch;
    padding-top: 50px;
}

.textTotalQuestion{
    font-size: 14px;
}

.title-margin{
    margin-top: 50px;
}