.progress-container {
    width: 80%;
    height: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.progress-sec {
    width: 0%;
    height: 100%;
    background-color: #C93B25;
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
}

.title{
    margin-bottom: 50px;
}

.card-link:hover{
    opacity: 70%;
    transition: 0.3s;
}