@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
}

.nav-row {
    display: flex;
    width: 100%;
    min-height: 100vh;

  }

.logo img {
    width: 180;
    height: 40px;
  }

.left-bar{
    display: flex;
    flex-direction: column;
    width: 15%;
    padding-top: 35px;
    padding-left: 65px;
    padding-right: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pages-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80vh;
    font-size: 15px;
    font-weight: 500;
}

.pages-bar img{
    margin-right: 20px;
}

.pages-bar p{
    margin: 0px;
}

.section-1{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 40vh;
}

.dashboard{
    display: flex;
}

.dashboard img{
    width: 25px;
    height: 25px;
}

.course{
    display: flex;
}

.course img{
    width: 28px;
    height: 25px;
}

.quiz{
    display: flex;
}

.quiz img{
    width: 32px;
    height: 25px;
}

.grade{
    display: flex;
}

.grade img{
    width: 28px;
    height: 28px;
}

.setting{
    display: flex;
}

.setting img{
    width: 25px;
    height: 25px;
}

.middle-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 12vh;
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 5px;
    border-bottom: 1px solid #d9d9d9;
}

.detail-row{
    display: flex;
    justify-content: flex-end;
}

.detail-row img{
    margin: 0px 10px;
}

.title{
    font-size: 12px;
    font-weight: 700;
}

.right-bar{
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    padding-left: 30px;
    padding-right: 30px;
}

.noti{
    width: 23px;
    height: 23px;
}

.save{
    width: 18px;
    height: 23px;
}

.pp{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.badge{
    display: flex;
    align-items: center;
    background-color: #FEF7F7;
    border-radius: 15px;
    padding: 5px 10px;
    margin-top: 15px;
}

.badge p{
    margin: 0;
    font-size: 15px;
}

.star{
    width: 15px;
    height: 15px;
}

.title-history{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 10px;
}

.user-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nama{
    padding-top: 20px;
    font-size: 20px;
    color: #404040;
}

.star{
    margin-right: 10px;
}

.history{
    border: 1px solid #DBDBDB;
    border-radius: 15px;
}

.title-history h1{
    color: #404040;
    font-size: 15px;
}

.title-history a{
    color: #C93B25;
    font-size: 12px;
    text-decoration: none;
}

.progress{
    border: 1px solid #DBDBDB;
    border-radius: 15px;
}

.title-progress{
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.title-progress p{
    font-size: 12px;
    margin-right: 5px;

}

.title-progress h5{
    color: #C93B25;
    margin: 0px;
}

.progress-bar{
    width: 85%;
    background-color: #C93B2561;
    border-radius: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
}

#bar {
    width: 25%;
    height: 15px;
    background-color: #C93B25;
    border-radius: 20px;
}

.title-detail{
    display: flex;
}

.title-detail h1{
    font-size: 15px;
    margin: 0;
}

.title-black{
    color: #404040;
    padding-right: 5px;
}

.title-red{
    color: #C93B25;
}

.button-link{
    text-decoration: none;
    color: #404040;
}

.history-subject{
    font-size: 12px;
    color: #404040;
    font-weight: 500;
    margin: 0;
}

.history-detail-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10px;
    background-color: #FEF7F7;
    border: 1px solid #DBDBDB;
    border-radius: 20px;
    padding: 8px 20px;
}

.history-nilai{
    margin: 0;
    font-size: 25px;
    color: #C93B25;
}
