@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
}

.nav-row {
    display: flex;
    width: 100%;
    min-height: 100vh;

  }

.logo img {
    width: 180;
    height: 40px;
  }

.left-bar{
    display: flex;
    flex-direction: column;
    width: 15%;
    padding-top: 35px;
    padding-left: 65px;
    padding-right: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pages-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80vh;
    font-size: 15px;
    font-weight: 500;
}

.pages-bar img{
    margin-right: 20px;
}

.pages-bar p{
    margin: 0px;
}

.section-1{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 40vh;
}

.dashboard{
    display: flex;
}

.dashboard img{
    width: 25px;
    height: 25px;
}

.course{
    display: flex;
}

.course img{
    width: 28px;
    height: 25px;
}

.quiz{
    display: flex;
}

.quiz img{
    width: 32px;
    height: 25px;
}

.grade{
    display: flex;
}

.grade img{
    width: 28px;
    height: 28px;
}

.setting{
    display: flex;
}

.setting img{
    width: 25px;
    height: 25px;
}

.right-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 12vh;
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 5px;
    border-bottom: 1px solid #d9d9d9;
}

.detail-row{
    align-items: center;
    display: flex;
}

.detail-row img{
    margin: 0px 10px;
}

.title{
    font-size: 12px;
    font-weight: 700;
}

.noti{
    width: 23px;
    height: 23px;
}

.save{
    width: 18px;
    height: 23px;
}

.pp{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.button-link{
    text-decoration: none;
    color: #404040;
}