.card-container {
    width: 70vw;
}

.info-title {
    color: #C93B25;
    font-size: 30px;
    font-weight: bold;
}

.bg-card {
    background-color: #F8F9FA;
}

.text-prepare {
    font-size: 14px;
}

