@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


*{
    font-family: 'Poppins', sans-serif;
}

.combineButton{

}

a{
    text-decoration: none;
}

body{
  margin: 0px;
  overflow:hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

.logo img {
    width: 222px;
    height: 51px;
  }

  .buttons button {
    margin-left: 1rem;
  }

  .regis{
    width: 90px;
    height: 35px;
    background-color: #404040;
    border-radius: 100px;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    border: none;
}

.regis a{
    width: 90px;
    height: 35px;
    background-color: #404040;
    border-radius: 100px;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    border: none;
}

  .login{
    width: 90px;
    height: 35px;
    background-color: #C93B25;
    border-radius: 100px;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    border: none;
  }

.login a{
    width: 90px;
    height: 35px;
    background-color: #C93B25;
    border-radius: 100px;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    border: none;
}

.regis:hover{
    cursor: pointer;
}

.login:hover{
    cursor: pointer;
}

  .row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
  }

  .from-pas{
    display: flex;
    /* justify-content: center; */
    /* margin-left: 10%; */
    margin-top: 0px;
  }

  .col-left{
    width: 50%;
    /* text-align: center; */
    margin-left: 10%;
  }

  .col-left h2{
    margin: 0px;
    font-size: 40px;
  }

  .col-left h1{
    font-size: 60px;
    margin: 5px 0px 0px 0px;
  }

  .warna-pas{
    color: #C93B25;
    padding-left: 10px;
  }

  .read-now{
    width: 250px;
    height: 55px;
    background-color: #C93B25;
    border-radius: 18px;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    border: none;
    margin-top: 50px;
  }

  .read-now a{
    background-color: #C93B25;
    border-radius: 18px;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    border: none;
    margin-top: 50px;
  }

  .col-right{
    width: 50%;
    margin-right: 100px;
  }

  .img-chat1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .img-chat1 img{
    width: 100px;
    height: 100px;
  }

  .img-chat1 p{
    width: 50%;
    font-size: 14px;
    background-color: #FBF8F7;
    border-radius: 18px;
    /* margin-right: 80px; */
    padding: 20px 30px;
    font-weight: 500;
  }

  .img-chat2{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

  }

  .img-chat2 img{
    width: 100px;
    height: 100px;
  }

  .img-chat2 p{
    width: 50%;
    font-size: 14px;
    background-color: #FBF8F7;
    border-radius: 18px;
    /* margin-left: 80px; */
    padding: 20px 30px;
    font-weight: 500;
  }


