.table-row-odd {
    background-color: #FEF7F7;
}

table {
    font-size: 16px;
    border-spacing: 10px;
    border-collapse: collapse;
}

td, th {
    border-bottom: 1px solid #D9D9D9;
    padding: 18px 90px 18px 8px;
    text-align: left;
}

h2 {
    font-size: 18px;
}

.class-container{
    display:flex;
    align-items: center;
    margin: 10px 0px 32px 0px;
    width: 280px;;
}

.titleColumn{
    font-size: 18px;
    font-weight: bold;
}

.dropdown{
    display: inline-block;
    padding-left: 18px;
    position: relative;
    z-index: 1;
}

.dropdown-button{
    height: 40px;
    width: 280px;
    border-radius: 10px;
    border: 1px solid #857979;
    background-color: white;
    padding: 0px 265px 0px 15px;
    font-size: 15px;
    transition: 0.3s;
    cursor: pointer;
    color: #423232;
    opacity: 0.5;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    border-radius: 10px;
    /* width: 100%; */
    height: 40px;
    width: 280px;
    opacity: 1;
    background-color: #f9f9f9;
}

.dropdown-content a {
    background-color: #f9f9f9;
    font-size: 15px;
    color: #404040;
    padding: 12px 0px 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
    opacity: 1;
}

.dropdown-content a:hover {
    background-color: #f9f9f9;
    color: #C93B25;
    border-radius: 10px;
    opacity: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
}

.dropdown:hover .dropdown-button {
    background-color: #C93B25;
    color: white;
    border: none;
    opacity: 1;
}

.btn-filter {
    background-color: #C93B25;
    color:#f9f9f9;
    border-radius: 5px;
    border-width: 0px;
    padding-left: 10px;
    padding-right: 10px;
}
